@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*::-webkit-scrollbar {
  width: 0 !important;
}

.active {
  background-color: rgb(248, 250, 252, 0.05);
  color: #14b8a6;
  border-right: 2px solid #14b8a6;
}
